*{
    background-color:cornflowerblue;
}
.mesh{
    display: flex;
    gap: 2px;
    flex-direction: row;
    flex-wrap: wrap;
}
.square {
    height: 16px;
    width: 16px;
    background-color: white;
}
